[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mccabe = "*"
pytest = "*"

[packages]
fire = "*"
cairosvg = "*"
cairosvgsource = "*"

[requires]
python_version = "3.7"
